* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "EuroScript";
    font-style: normal;
    src: local("EuroScript"), url("./assets/euroscript.ttf") format("ttf");
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, с 1999 года*/
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


.container {
    padding-top: 20px;
    max-width: 1140px;
    margin: 0 auto;
    min-height: 100vh;
}

.row {
    border: 1px solid black;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
}

.text {
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    max-height: 300px;
}

.notebook {
    width: 690px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 4px 67px;
    background: url("./assets/tetrad.jpg") no-repeat center center / cover;
}

.block-1,
.block-2 {
    font-family: "EuroScript";
    max-width: 260px;
    width: 100%;
    color: #00235a;
    line-height: 1.25;
    max-height: 390px;
    overflow: hidden;
}

