* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: local("EuroScript"), url("./assets/myFont.ttf") format("truetype");
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, с 1999 года*/
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    height: auto;
}


.container {
    padding-top: 20px;
    max-width: 1140px;
    margin: 0 auto;
    min-height: 100vh;
}

.row {
    border: 1px solid black;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
}

.text {
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    max-height: 300px;
}

.notebook {
    width: 690px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 67px;
    background: url("./assets/tetrad.jpg") repeat-y center center;
}

.block-1 {
    font-family: myFont;
    min-height: 400px;
    max-height: 5000px;
    padding: 8px 0;
    width: 100%;
    color: #00235a;
    line-height: 1.5;
}

